<div class="container mt-5">
  <h1 class="mb-4">I am Deepthink!</h1>

  <form action="/answer" method="get" class="mb-3" data-turbo="false">
    <div class="mb-3">
      <label for="question" class="form-label">You may ask me a question peasant.</label>
      <input type="text" id="question" name="question" class="form-control">
    </div>
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
